
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    flex-direction: column;
    background-image: url('home_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .video-container video {
    width: 100%;
    max-width: 800px;
  }

  .skip-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff9900;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .skip-button:hover {
    background-color: #cc7a00;
  }
