html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.NumbersGame {
  text-align: center;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Arial', sans-serif;
  color: #333;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('numbers_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.numbers-instructions {
  padding: 20px 30px;
  font-size: 24px;
  background-color: #f4c76e;
  color: black;
  border: none;
  border-radius: 8px;
  transition: transform 0.3s ease, background-color 0.3s;
}

.number-button {
  padding: 20px 30px;
  font-size: 24px;
  background-color: #f4c76e;
  color: black;
  border: none;
  border-radius: 8px;
  transition: transform 0.3s ease, background-color 0.3s;
}

.number-button:hover {
  transform: scale(1.05);
  background-color: #e3b160;
}

.number-button:active {
  background-color: #d29b54;
}

.game-over-display {
  background-color: #fde5b3;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 90%;
  margin-right: 11px;
  margin-left: 11px;
}

.number-grid-button {
  padding: 20px 30px;
  font-size: 24px;
  background-color: #fde5b3;
  color: black;
  border: none;
  border-radius: 8px;
  transition: transform 0.3s ease, background-color 0.3s;
  width: 100px;
}

.number-settings-form {
  padding: 20px 30px;
  font-size: 24px;
  background-color: #f4c76e;
  color: black;
  border: none;
  border-radius: 8px;
  transition: transform 0.3s ease, background-color 0.3s;
}
.number-setting-button-submit {
  padding: 20px 30px;
  font-size: 24px;
  background-color: #fde5b3;
  color: black;
  border: none;
  border-radius: 8px;
  transition: transform 0.3s ease, background-color 0.3s;
  margin-top: 20px;
}

input {
  background-color: #fde5b3;
  border: 2px solid #e6bb6b;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  color: #000;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

input:focus {
  outline: none;
  border-color: #d29b54;
  box-shadow: 0 0 8px rgba(210, 155, 84, 0.6);
}
